body {
  padding: 0;
}

.logTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  background-color: rgb(220, 220, 220);
}

.spendWisely {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
  background-color: black;
  color: white;
  height: 3vh;
}

.mainStuff {
  display: grid;
  width: 40%;
  grid-template-columns: 1fr;
  font-size: 1.5rem;
  row-gap: 2rem;
}

.tableRow {
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: rgb(220, 220, 220);
  width: 100%;
  border-radius: 6px;
}

.bsl {
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1.7vw;
}

.bslLeft {
  margin-left: 2vw;
}
.bslRight {
  margin-right: 2vw;
}

.wholeStuff {
  padding-top: 15vh;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-top: 15vh;
}

.gotBackContainer,
.spentContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-align: center;
}

.spentInput,
.gotBackInput {
  border-radius: 6px;
  border: 1px solid grey;
  padding-left: 6px;
  font-size: 2vh;
  margin-bottom: 1vh;
}

#Spent,
#GotBack {
  width: 12vw;
  height: 6.5vh;
  font-size: 1.3em;
  text-align: center;
}

label[for="Spent"],
label[for="gotBack"] {
  font-size: 1.3em;
  margin-top: 1.5vh;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
