@font-face{
    font-family: lemon_milk;
    src: url(./lemon_milk/lemon-milk-pro-ftr-regular.otf)
}


*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: lemon_milk; 
}


body{
    margin: 0 auto; 
    padding: 0;
}

.mainTitle{
    font-family: lemon_milk;
    text-align: center;
    font-size: 9.5vw;
    padding-top: 6vh;
}

.spendWisely{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lemon_milk;
    font-size: 1.4vw;
    background-color: black;
    color: white;
    height: 3vh;

}

.theLogo{
    width: 11vh;
    height: 10vh;
}

.navBar{
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 3px solid black;
    text-align: center;
    padding-left: 0;
    
}

.navBar li{
    flex:1; 
    
    
}

.navBar a{
    text-decoration: none;
    color: black;
    font-family: lemon_milk;
    font-size: 2.8vw;
    
}


#duration{
    color: grey;
    font-size: 0.95vw;
}


.submits{
    border: 3px solid black; 
    border-radius: 40px;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    /* position: relative; */
    /* ***************************************** */
    margin-top: 1.1vh;
    margin-bottom: -3.5vh;
    /* z-index: 1; */


}

.submitStuff{
    font-family: lemon_milk;
    font-size: 1.7vw;
    text-align: center;
    border: none;     
}

label{
    display: block;
    z-index: 5;
}

footer{
    display: flex;
    background-color: black;
    height: 3vh;
    margin-top: 11vh;
    /* bottom: 0; 
    position: fixed;
    right: 0;
    left: 0; */
}

input{
    height: 4.5vh;
    width: 100%;
    font-family: lemon_milk;
    font-size: 18px;
}

.submitButton{
    /* position: absolute; */
    font-size: 1.7vw;
    /* width: 8%;
    height: 5vh; */
    background-color: white;
    /* border: 2.5px solid black;
    border-radius: 20px; */
    /* box-shadow: inset 0px 0px 3px black; */
    /* margin-left: auto;
    margin-right: auto; */
    /* left: 0;
    right: 0;
    bottom: 0;  */
    cursor: pointer;
    /* width: auto; */
    height: 6vh;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px black;
    /* z-index: 1; */
}



.submitForm button{
    margin: 0;
    margin-left: 1.3vw;
    margin-right: 1.3vw;
    /* position: absolute; */
}

.submitContainer{
    /* position: absolute; */
    /* font-size: 1.7rem; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0; 
    cursor: pointer;
    width: 10%;
    
    
}

.logout{
    text-decoration: none; 
    color: grey; 
    display: block; 
    text-align: center;
    margin-top: 1.5vh;
}

.logout:hover{
    color: black;
    text-decoration: underline;
}









/* change all the font-size units to vw 



I also might need to make the whokle submit area flex



Also, in individualSavingLog, put the submit buttons


also, expected income can change

once duration ends, maybe a pop up can appear




*/