@font-face{
    font-family: lemon_milk;
    src: url(./lemon_milk/lemon-milk-pro-ftr-regular.otf)
}


*{
    box-sizing: border-box;
    margin: 0 auto; 
    font-family: lemon_milk;
}


body{
    /* margin: 0 auto;  */
    padding: 0;
}

.logTitle{
    text-align: center;
    font-family: lemon_milk;
    font-size: 1.5rem;
    font-weight: 100;
    background-color: rgb(220, 220, 220);
}

.spendWisely{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lemon_milk;
    font-size: 1.4vw;
    background-color: black;
    color: white;
    height: 3vh;

}

.theLogo{
    width: 11vh;
    height: 10vh;
}

.navBar{
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 3px solid black;
    text-align: center;
    padding-left: 0;
    
}

.navBar li{
    flex:1; 
    
    
}

.navBar a{
    text-decoration: none;
    color: black;
    font-family: lemon_milk;
    font-size: 2.8vw;
    
}

footer{
    display: flex;
    background-color: black;
    height: 3vh;
    margin-top: 11vh;
    /* bottom: 0; 
    position: fixed;
    right: 0;
    left: 0; */
}

.mainStuff{
    display: grid;
    /* border: 2px solid black; */
    width: 40%;
    grid-template-columns: 1fr;
    font-family: lemon_milk;
    font-size: 1.5rem;
    row-gap: 2rem;
    

}

.bslContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(220, 220, 220);
    width: 100%;
    border-radius: 6px;
}

.bsl{
    /* row-gap: 2em; */
    /* border: 2px solid rgb(22, 19, 19); */
    /* background-color: rgb(220, 220, 220);  */
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1.7vw;

}

.wholeStuff{
    padding-top: 15vh;
}


.forInputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid black; */

}

.inputss{
    padding-top: 15vh;
    /* padding-bottom: 15vh; */
    width: 40%;
}


#spent, #gotback{
    width: 12vw; 
    height: 6.5vh;
    font-family: lemon_milk;
    font-size: 1.2vw;
    text-align: center;
    
    
}