@font-face{
    font-family: lemon_milk;
    src: url(./lemon_milk/lemon-milk-pro-ftr-regular.otf)
}


*{
    box-sizing: border-box;
    margin: 0 auto; 
    font-family: lemon_milk;
}


body{
    margin: 0 auto; 
    padding: 0;
}

.savingsTitle{
    text-align: center;
    font-family: lemon_milk;
    font-size: 4.5vw;
    font-weight: 100;
    padding-top: 15vh;
}

.spendWisely{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: lemon_milk;
    font-size: 1.4vw;
    background-color: black;
    color: white;
    height: 3vh;

}

.theLogo{
    width: 11vh;
    height: 10vh;
}

.navBar{
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 3px solid black;
    text-align: center;
    padding-left: 0;
    
}

.navBar li{
    flex:1; 
    
    
}

.navBar a{
    text-decoration: none;
    color: black;
    font-family: lemon_milk;
    /* font-size: 2.5rem; */
    font-size: 2.8vw;
    
}

footer{
    display: flex;
    background-color: black;
    height: 3vh;
    margin-top: 12vh;
    /* bottom: 0;  */
    /* position: fixed; */
    /* right: 0; */
    /* left: 0; */

}

.amount{
    text-align: center;
    font-family: lemon_milk;
    font-weight: 100;
    font-size: 3.4vw;
    padding-top: 15vh;
}

.text{
    text-align: center;
    font-family: lemon_milk;
    font-weight: 100;
    padding-top: 16vh;
    font-size: 1.5rem;
}


#confEtti{
    display: flex;
    position: relative;
}

