body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

.mainTitle {
  text-align: center;
  font-size: 9rem;
}

.spendWisely {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
  background-color: black;
  color: white;
  height: 3vh;
}
.subtitle {
  font-size: 4.5vw;
  font-weight: 100;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.dateTitle {
  font-size: 1.64vw;
  text-decoration: none;
  color: black;
  align-self: center;
  margin: 0;
  margin-left: 25px;
}

.dateTitle:hover {
  text-decoration: underline;
}

.log_list_item {
  display: flex;
  padding: 1vh;
  width: 100%;
  border-radius: 9px;
  align-items: stretch;
  justify-content: space-between;
  background-color: rgb(220, 220, 220);
}

.deleteButton {
  display: flex;
  cursor: pointer;
  margin: 0;
  margin-right: 15px;
  opacity: 40%;
}

.deleteButton:hover {
  opacity: 100%;
}

.log_list {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  width: 45%;
}
